html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

footer {
  margin-top: auto;
  letter-spacing: 0.5px; }
  footer ol, footer ul, footer dl {
    margin-top: 0;
    margin-bottom: 1rem; }
  footer .social_media a {
    width: 35px;
    height: 35px;
    display: inline-block;
    margin-right: 5px; }
  footer .pt-5, footer .py-5 {
    padding-top: 1rem; }
    @media (min-width: 992px) {
      footer .pt-5, footer .py-5 {
        padding-top: 3rem; } }
  footer .bottom-links {
    margin: 0 auto; }
  footer .bottom-links ul {
    list-style: none;
    padding-left: 0px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  footer .bottom-links ul li {
    padding: 0px 8px;
    position: relative;
    font-size: 18px; }
  footer .bottom-links ul li:first-child {
    padding-left: 0px; }
  footer .bottom-links ul li:not(:last-child) {
    border-right: 1px solid #FFFFFF; }

@media (min-width: 992px) {
  .col-lg-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; }
  .col-lg-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
  .centered-lg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; } }

.icon_social {
  width: 35px;
  height: 35px;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 1rem; }

.icon-section {
  background-color: #dbdbdb; }

.icon-section_header {
  background-color: #90a6c7;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  padding: 16px;
  margin-top: 50px; }

.icon-section_header::after {
  display: none;
  content: "";
  border: solid #fff;
  border-width: 0px 3px 3px 0px;
  padding: 7px;
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin-left: 15px;
  position: absolute;
  margin-top: -2px; }

.icon-section_header.opened::after {
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  margin-top: 6px; }

.icon-section_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.icon-section_header.opened + .grid-container .icon-section_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.footer-icon {
  display: block;
  width: 40px;
  height: 40px;
  margin: 20px 0; }

/* Added after adding USWDS */
.bg-primary {
  background-color: #20558A; }

.icon-section_header {
  background-color: #4773aa; }
