/* roboto-regular - latin-ext_latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url("fonts/roboto/roboto-v20-latin-ext_latin-regular.woff2") format("woff2"), url("fonts/roboto/roboto-v20-latin-ext_latin-regular.woff") format("woff"); }

/* roboto-italic - latin-ext_latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url("fonts/roboto/roboto-v20-latin-ext_latin-italic.woff2") format("woff2"), url("fonts/roboto/roboto-v20-latin-ext_latin-italic.woff") format("woff"); }

/* roboto-700 - latin-ext_latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local("Roboto"), local("Roboto-Regular"), url("fonts/roboto/roboto-v20-latin-ext_latin-700.woff2") format("woff2"), url("fonts/roboto/roboto-v20-latin-ext_latin-700.woff") format("woff"); }

/* roboto-700italic - latin-ext_latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: local("Roboto"), local("Roboto-Regular"), url("fonts/roboto/roboto-v20-latin-ext_latin-700italic.woff2") format("woff2"), url("fonts/roboto/roboto-v20-latin-ext_latin-700italic.woff") format("woff"); }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.ncbi-header {
  background-color: #20558a;
  z-index: 10;
  padding: 14px 0 10px 0; }
  .ncbi-header a {
    color: inherit;
    text-decoration: none; }
  .ncbi-header a:hover {
    color: #ffffff;
    text-decoration: underline; }
  .ncbi-header .ncbi-header__logo {
    width: auto;
    float: left; }
  .ncbi-header .header-button {
    width: auto;
    margin: 1.5rem 0.3rem;
    background-color: transparent;
    color: #ffffff;
    border: 1px solid rgba(255, 255, 255, 0.5);
    font-size: 1.4rem;
    font-weight: normal;
    white-space: nowrap;
    padding: 0.8rem; }
    .ncbi-header .header-button:hover {
      background-color: #0071bc;
      text-decoration: none; }
    .ncbi-header .header-button .fa {
      margin: 0; }
    @media screen and (min-width: 600px) {
      .ncbi-header .header-button {
        font-size: 1.7rem; }
        .ncbi-header .header-button .fa {
          margin: 0 0.2rem; } }
    @media screen and (min-width: 1201px) {
      .ncbi-header .header-button {
        padding: 1rem 2rem; }
        .ncbi-header .header-button .fa {
          margin-left: 0;
          margin-right: 0.5rem; } }
  .ncbi-header .desktop-only {
    display: none; }
    @media screen and (min-width: 600px) {
      .ncbi-header .desktop-only {
        display: inherit; } }
  .ncbi-header .account-old {
    float: left;
    display: block;
    font-size: 1.4rem;
    position: relative;
    width: 30%;
    text-align: right; }
    @media screen and (min-width: 600px) {
      .ncbi-header .account-old {
        width: 30%;
        font-size: 1.7rem; } }
  .ncbi-header .logo {
    width: 245px;
    margin-top: 13px;
    margin-right: 10px;
    display: inline-block;
    margin-bottom: 5px; }
    @media (min-width: 375px) {
      .ncbi-header .logo {
        width: 280px;
        height: 42px; } }
    @media (min-width: 640px) {
      .ncbi-header .logo {
        width: 414px;
        height: 63px;
        margin-bottom: 0; } }

.ncbi-header__account {
  float: right; }
  @media screen and (max-width: 600px) {
    .ncbi-header__account {
      width: 15%; } }
  @media screen and (min-width: 600px) {
    .ncbi-header__account .header-button {
      font-size: 1.7rem; } }

.account-popup {
  position: absolute;
  top: 1px;
  right: 0;
  overflow: hidden;
  width: 100%; }
  @media screen and (min-width: 600px) {
    .account-popup {
      width: auto;
      min-width: 16em; } }
  .account-popup .account-user-info {
    top: 6px;
    position: relative;
    padding: 1.5rem;
    border-bottom: 1px solid #d6d7d9; }
  .account-popup .account-links {
    padding: 1.5rem; }
    .account-popup .account-links li {
      padding: 4px 0; }
    .account-popup .account-links a {
      color: #0071bc; }
    .account-popup .account-links a:hover {
      color: #000000; }
    .account-popup .account-links a:visited {
      color: #0071bc; }
